
test{
  color: hsl(217, 10%, 16%);
  color: #24272C;
  color: #393939;
  color: #CAC9C9;
  color: #B02C15;
  color: #8CA3D1;
  color: #EAECF0;
  color: #F6F6F6;
  color: #FFFFFF;
  
}


body{
  margin: 0px;
  padding: 0px;
  max-height: 100vh;
  font-family: 'Roboto';
}

.grid-container{
    display: grid;
    padding: 0;
    margin: 0;
    max-height: 100vh;  /* //уточнить , почему без этого свойства не во весь экран */
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 1fr 5fr 0.5fr; 
    row-gap: 10px;
    background:#F6F6F6 ;  
    grid-template-areas:
      "sidebar header"
      "sidebar main"
      "footter footter";
  }

  /* HEADER */

.header { 
    grid-area: header; 
    background: #F6F6F6;
  }

  
.header-content{
  display: flex;
  flex-direction:row-reverse;
  justify-content: flex-start;
  padding: 20px;
  height: 100%;
  
 
}
.header-content-area{
 background: #EAECF0;
 font: 12pt roboto white;
 padding: 10px;
 height:70px;
 border-radius: 2%;
 margin: 10px;
}




.header-content-area.small{
  display: flex;
  width:20%;
 }

 .header-content-area.big{
   display: flex;
   width:35%;
   align-items: stretch;
   
   
 }

 .header-content-area-big-left{
  display: flex;
  width: 15%;
}
.header-content-area-big-mid{
  display: flex;
  width: 45%;
}
.header-content-area-big-right{
  display: flex;
  width: 40%;
  flex-direction: column;
  height: 100%;
}


select.header{
  height: 60%;
  background: none;
  border: none;
}






 ul.header-content-ul{
  list-style:none;
  padding-inline-start: 0px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
 }


 




/* MAIN */

  .main { 
      grid-area: main;
      background:#F6F6F6;      
    }

    .main-content-area{
      padding: 20px;
      display: flex;
      flex-direction: column;

    
    }
    .table-scroll{
      height: 400px;
      overflow-y: auto;
      border: #FFFFFF solid 1px;  
      border-radius: 10px; 
    }
    .col-20{
      width: 20%;
    }


    
    table.head-table{
      width:100%;
      border-collapse: collapse;
      text-align: left;
      font: 14pt roboto bold;    
    }

    table.head-table thead th{
      padding-bottom: 10px;
    }

    table.main-table-content {
      width:100%;
      border-collapse: collapse;
    
  
    }

    table.main-table-content tbody tr td{
      border-top: #FFFFFF solid 1px;  
      padding: 25px;
  
    }
 

    table.main-table-content tbody tr:nth-child(odd){
      background-color: #EAECF0;

    }

    table.main-table-content tbody tr:nth-child(even){
      background-color: #FFFFFF;

    }

    .main-button-top{
      padding-top: 10px;
      display: flex;
      flex-direction: row-reverse;
      
    }

    
    .main-button-bottom{
      padding-top: 10px;
      display: flex;

    }
/* 
    SIDEBAR */

  .sidebar {
       grid-area: sidebar;
       background: #24272C;
       padding-left: 0;
    }


    ul.sidebar-ul{
      list-style:none;
      padding-inline-start: 0px;
     }

  .sidebar-menu-area{   
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
  }

  
  
  .menu-logo{
     padding: 30px;
     padding-bottom: 60px;
  }
  
  a{
    color: white;
    font: 14pt roboto;
    text-decoration: none;
  }
  .menu-item{
      display: block;
      padding-top: 25px;
      font: 14pt roboto;
      padding-left: 30px;
      color: white;
      background: none;
      height: 50px;  
  
  }

    .menu-item-current {
  
    background: #393939;
    border-right-color: #B02C15 ;
    border-right-style: solid; 
    border-right-width: 10px;
  }



  /* FOTTER */

  .footter {
       grid-area: footter;
       background: #24272C
    }
  .footter-content-area{
    /* padding: 10px; */
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100%;
  }


  .footter-content-item{
    justify-content: center;
    margin: 10px;
  }

/* 
buttons-style */


button.bt-small{
  height: 30px;
  width: 100px;
  border-radius: 5px;
  margin: 15px;
}

button.bt-medium{
  height: 50px;
  width: 150px;
  border-radius: 5px;
  margin: 15px;
}


button.bt-big{
  height: 50px;
  width: 250px;
  border-radius: 5px;
  margin: 15px;
}


button.white{
  border-color: black;
  background: #FFFFFF;
  border: 1px solid black;
}

button.red{
  border: none;
  background: #8A2715;
  color:white;
 }

 button.blue{
  border: none;
  background: #5E7CAD;
  color:white;
 }

 button.grey{
   border: none;
   background:#EAECF0;
 }


 button.header{
  height: 40% ;

 }












